<div class="container marketing">
  <div class="row">
    <% @worksheets.each do |worksheet| %>
      <div class="col-lg-4">
        <%= link_to random_path(@spreadsheet, worksheet.title) do %>
            <img class="rounded-circle" src="<%= image_url('book_placeholder.png') %>" alt="Generic placeholder image" width="140" height="140">
            <h2><%= worksheet.title %></h2>
        <% end %>
        <p>
          <button type="button" class="btn btn-outline-secondary select" id="<%= worksheet.gid %>" data-toggle="button" aria-pressed="false" autocomplete="off">
            Select
          </button>
        </p>
      </div><!-- /.col-lg-4 -->
    <% end %>
    <button type="button" class="btn btn-secondary element" id="multi-random", style="display:none;">Random Now >></button>
    <%= link_to "Random Now »", multi_random_path(@spreadsheet), {id: "link_multi_random", style: "display:none"}%>
  </div><!-- /.row -->
</div>

<%= javascript_include_tag "book", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "book", :media => "all", "data-turbolinks-track" => true%>